body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: linear-gradient(135deg, #808080, #000000);

  display: flex;                /* ativa o flexbox */
  justify-content: center;      /* centraliza na horizontal */
  align-items: center;          /* centraliza na vertical */

  color: white;
  font-family: sans-serif;
}
